  using System;
  using static System.Console;

class MainClass {

  static int gamesRecordSize = 10;   
  static string[,] gamesRecord = new string[gamesRecordSize,3];
  static int gamesRecordCurrentIndex = 0;
  static int gamesRecordCurrentSize = 0;

  static void PlayGame(){

    Clear();
    string playerOne = GetPlayerInput("Gracz pierwszy");
    gamesRecord[gamesRecordCurrentIndex, 0] = playerOne;
    System.Console.Clear();
    WriteLine ("Wybrałeś: " + playerOne + "\nWciśniej dowolny przycisk, aby kontynuować");
    Console.ReadKey();
    Clear ();
    string playerTwo = GetPlayerInput("Gracz drugi");
    gamesRecord[gamesRecordCurrentIndex, 1] = playerTwo;
    System.Console.Clear();
    WriteLine ("Wybrałeś: " + playerTwo + "\nWciśniej dowolny przycisk, aby kontynuować");
    Console.ReadKey();
    Clear ();
    gamesRecord[gamesRecordCurrentIndex, 2] = DetermineWinner(playerOne,
    playerTwo);
    gamesRecordCurrentIndex = (gamesRecordCurrentIndex + 1) % gamesRecordSize;
    
    if (gamesRecordCurrentSize < gamesRecordSize){
     gamesRecordCurrentSize++;
    }

    WriteLine("Czy chcesz rozegrać kolejną rundę? Jeśli tak wciśnij [y] \n\nAby zakończyć rozgrywkę wciśnij dowolny przycisk"); 
    if (ReadKey(true).Key == ConsoleKey.Y){
    PlayGame();
    }


  }
  static void MainMenuLoop (){
    ConsoleKeyInfo inputKey;
   
    do {
      Clear();
      WriteLine ("Papier Kamień Nożyce Menu:\n\t[1] Zagraj w grę\n\t[2] Pokaż zasady\n\t[3] Wyświetl poprzednie rozgrywki' zapis\n\t[ESC] Exit");
      
      inputKey = ReadKey(true);

        if (inputKey.Key == ConsoleKey.D1){
            PlayGame(); System.Console.Clear();  Console.WriteLine("GAME OVER");
        }
        else if (inputKey.Key == ConsoleKey.D2){
            DisplayWelcomeMessage();
        }
        else if (inputKey.Key == ConsoleKey.D3){
            DisplayGamesHistory (gamesRecord, gamesRecordSize, gamesRecordCurrentSize,
            gamesRecordCurrentIndex);
        }

        else { continue; }
        WriteLine ("Wciśnij dowolny przycisk");
        ReadKey(true);
    } 
      while(inputKey.Key != ConsoleKey.Escape);
  }

  static void DisplayWelcomeMessage (){
    WriteLine ("\n\nWitaj w grze RPS:\n\n Zasady gry są proste!\n Gracz Pierwszy wybiera: [1] Kamień lub [2] Papier lub [3] Nożyce\n Gracz Drugi wybiera: [1] Kamień lub [2] Papier lub [3] Nożyce\n\n *Pamiętajcie aby nie podglądać!\n\nWygrywa ten który wybrał silniejszy artefakt!\n\nDla przypomnienia:\n Nożycze niszczą Papier\n Papier neutralizuje Kamień\n Kamień tępi Nożyce\n\nPowodzenia!\n ");
  }
  
  static string GetPlayerInput (string player){

    string rawInput;
    string properInput = "";

    WriteLine ("{0} proszę podać swój typ:\n(1) kamień\n(2) papier\n(3) nożyce", player);
    rawInput = ReadLine();
    while (rawInput != "1" && rawInput != "2" && rawInput != "3") {
    WriteLine ("Zły klawisz. Proszę wybrać poprawny numer.\nWybierz:\n[1] Kamień\n[2] Papier\n[3] Nożyce");
    rawInput = ReadLine();
    }
    if (rawInput == "1") { properInput = "Kamień"; }
    else if (rawInput == "2") { properInput = "Papier"; }
    else { properInput = "Nożyce"; }
    return properInput;
  }

  static string DetermineWinner (string playerOne, string playerTwo){

    if (playerOne == playerTwo)
    { WriteLine ("Remis!"); return "Remis";} 
    else if ((playerOne == "Kamień" && playerTwo == "Nożyce") || (playerOne == "Papier" && playerTwo == "Kamień") || (playerOne == "Nożyce" && playerTwo == "Papier")){ WriteLine ("Wygrał Pierwszy Gracz!"); return "Wygrał Pierwszy Gracz!"; }
    else { WriteLine ("Wygrał Drugi Gracz!"); return "Wygrał Drugi Gracz!"; }
    } 

  static void DisplayGamesHistory (string[,] gamesRecord, int gamesRecordSize, int gamesRecordCurrentSize = 10, int lastRecordIndex = 0){
    int currentIndex;

    if (gamesRecordCurrentSize < gamesRecordSize){
    currentIndex = 0;
    }
    else {currentIndex = lastRecordIndex;}
    WriteLine ("Podsumowanie wyników");
    for (int i = 0; i < gamesRecordCurrentSize; i++){
    WriteLine ("Game #{0}:\t{1}\t-\t{2},\t{3}", i+1, gamesRecord[currentIndex,0], gamesRecord[currentIndex,1], gamesRecord[currentIndex,2]);
    currentIndex = (currentIndex + 1) % gamesRecordCurrentSize;
    }
}


  public static void Main (string[] args) {
  
  MainMenuLoop();

  /*  
  static int gamesRecordSize = 10;   
  static string[,] gamesRecord = new string[gameRecordSize,3];
  static int gamesRecordCurrentIndex = 0;
  static int gamesRecordCurrentSize = 0;

  do {

    DisplayWelcomeMessage();
    Console.ReadKey();
    System.Console.Clear();

    string playerOne = GetPlayerInput("Pierwszy Gracz");
    gamesRecord[gamesRecordCurrentIndex, 0] = playerOne;

    System.Console.Clear();
    WriteLine ("Wybrałeś: " + playerOne + "\nWciśniej dowolny przycisk, aby kontynuować");
  
    Console.ReadKey();
    System.Console.Clear();

    string playerTwo = GetPlayerInput("Drugi Gracz");
    gamesRecord[gamesRecordCurrentIndex, 1] = playerTwo;

  
    System.Console.Clear();
    WriteLine ("Wybrałeś: " + playerTwo + "\nWciśniej dowolny przycisk, aby kontynuować");
  
    Console.ReadKey();
    System.Console.Clear();
  
    gamesRecord[gamesRecordCurrentIndex, 2] = DetermineWinner(playerOne, playerTwo);

    Console.ReadKey();
    System.Console.Clear();  

    gamesRecordCurrentIndex += 1;
    gamesRecordCurrentSize += 1;
    
    DisplayGamesHistory (gamesRecord, gamesRecordSize, gamesRecordCurrentSize, gamesRecordCurrentIndex);

    Console.WriteLine ("Czy chcesz zakończyć rozgrywkę? \nJeślij tak naciśnij (t) \n\nJeżeli chcesz grać dalej naciśnij (Enter)");  

} 

  while (Console.ReadLine() != "t");
  System.Console.Clear(); 
  Console.WriteLine("GAME OVER");
*/
  }
}